# Parte 1 y 2:Coleccciones, tarea 'Python'

## Tuplas

La tuplas son colecciones que en su estructura se parecen a las listas, con la diferencia de que estas son inmutables.

### Ejercicio 1:

Cree  una tupla que contenga la siguiente información: 200, Hello, [1,2,3,4],-60. Después de crearla verifique su inmitabilidad.

In [3]:
tupla=(200,"Hello",[1,2,3,4])
tupla

(200, 'Hello', [1, 2, 3, 4])

In [5]:
tupla[0]=40

TypeError: 'tuple' object does not support item assignment

Como se puede ver, al intentar cambiar el elemento 1 de la tupla por otro elemento, Python nos muestra un error, dado que la tupla es inmutable. Por lo que queda verificada esta propiedad.

### Ejercicio 2

Utilizanso la tupla anteriormente creada muestre la propiedad de indexación de las tuplas e indique cuál es la longitud de dicha tupla.

In [7]:
#Elemento 1 de la tupla
print(tupla[0])
#Elemento 2 de la tupla
print(tupla[1])
#Elemento 2 de la tupla
print(tupla[2])

200
Hello
[1, 2, 3, 4]

In [8]:
print(len(tupla)) #Longitud de la tupla

3

## Conjuntos

Son colecciones desordenadas de elementos únicos utilizados para hacer pruebas de pertenencia a grupos y eliminación de elementos duplicados [Fuente:Hektor Docs](https://docs.hektorprofe.net/python/colecciones-de-datos/conjuntos/)

### Ejercicio 1

Cree un conjunto con los siguientes elementos: 1,4,11,88,56. Añada al conjunto inicialmente creado el elemento 33. Luego añada los elementos 'A','B','C'Finalmente verifique si el elemeto 42 se encuentra en el conjunto final.

In [11]:
conjunto={1,4,11,88,56} #Conjunto creado
print(conjunto)
conjunto.add(33)#Elemento 33 agregado al conjunto
print(conjunto)
conjunto.add('A') #Elemento A agregado al conjunto
conjunto.add('B') #Elemento B agregado al conjunto
conjunto.add('C') #Elemento C agregado al conjunto
print(conjunto)

42 in conjunto

{1, 4, 11, 88, 56}
{1, 33, 4, 11, 88, 56}
{1, 33, 'C', 4, 'A', 11, 88, 'B', 56}

False

Como se puede ver, el elemento 42 no es un elemento del conjunto

### Ejercicio 2

Muestre a través de un ejemplo la propiedad de los conjuntos de no contener elementos duplicados o repetidos.

In [12]:
grupo={'Amiga','Amigo','Amiga','Amigo'}
print(grupo)

{'Amigo', 'Amiga'}

Como se puede ver sólo deja un elemento por cada duplicado o elemento repetido.

## Diccionarios

Son junto a las listas las colecciones más utilizadas y se basan en una estructura mapeada donde cada elemento de la colección se encuentra identificado con una clave única, por lo que no puede haber dos claves iguales. En otros lenguajes se conocen como arreglos asociativos [Fuente:Hektor Docs](https://docs.hektorprofe.net/python/colecciones-de-datos/conjuntos/).

### Ejercicio 1

In [ ]:
Después de crear el  siguiente diccionario: colores = {'amarillo':'yellow','azul':'blue'}, consulta el valor de la clave amarillo, seguidamente muestre las llaves del diccionario creado.

In [26]:
colores={'amarillo':'yellow','azul':'blue'}
colores['amarillo']
print(colores.keys())

dict_keys(['amarillo', 'azul'])

Como podemos ver, el valor que contiene la plabara clave 'amarillo' es 'yellow' y las palabras claves relacionadas con el diccionario creado son: amarillo y azul.

### Ejercicio 2

Al diccionario creado anteriormente, reescribe el valor de la clave 'amarillo' con el valor 'colors'.

In [15]:
colores['amarillo']='colors'
print(colores)

{'amarillo': 'colors', 'azul': 'blue'}

Como podemos ver el valor de la palabra clave 'amarillo' ya no es 'yellow' sino colors.

## Listas

Una lista en Python es una estructura de datos formada por una secuencia ordenada de objetos [Fuente: covantec](https://entrenamiento-python-basico.readthedocs.io/es/latest/leccion3/tipo_listas.html#:~:text=Una%20lista%20en%20Python%20es,el%20%C3%ADndice%20del%20primer%20elemento.&text=La%20funci%C3%B3n%20len()%20devuelve,(su%20cantidad%20de%20elementos).)

### Ejercicio 1

Cree una lista con los siguientes elementos: pan, huevos, 100, 12000. Seguidamente muestre la longitud de la lista y su último elemento.

In [20]:
factura=['pan','huevos',100,12000] #Lista creada
print(factura) #Muestra la lista
print(len(factura)) #longitud de la lista
print(factura[len(factura)-1]) #último elemento de la lista

['pan', 'huevos', 100, 12000]
4
12000

Como podemos ver la longitud de la lista es 4 y su últomo elemento es 12000

### Ejercicio 2

Agregue el elementos 'costo' al final de la lista creada en el ejercicio anterior y genere una copia de la lista con este último elemento.

In [24]:
factura.append('costo')
print(factura)
factura_2=factura.copy()
print(factura_2)

['pan', 'huevos', 100, 12000, 'costo', 'costo', 'costo', 'costo']
['pan', 'huevos', 100, 12000, 'costo', 'costo', 'costo', 'costo']

Como se puede ver, el elemento 'costo' fue agregado al final de la lista y fue creada una copia de la lista factura llamada factura_2

# Parte 2 y 3 de la tarea 'Python'

In [35]:
url = r'https://github.com/Jeslome/MD_Tareas/blob/main/datos.xlsx?raw=true'

import pandas as pd

class Cuentas(object):
    def __init__(self, url):
        #self.url = url
        self.data = pd.read_excel(url)
        self.val = 0
        self.limit = len(self.data)-1
        
    
    # Hace esta clase iterable
    def __iter__(self):
        return self
    
    # Hace esta clase un iterador
    def __next__(self):
        if self.val > self.limit:
            raise StopIteration
        else:
            return_val = self.data.iloc[[self.val]]
            self.val += 1
            return return_val




cuentas = Cuentas(url)

for i in cuentas:
    print(i)

   numero_de_cuenta              nombre_del_cliente  saldo_actual  \
0           8661881  William Efrain Herrera William       5191000

  fecha_ultima_transaccion
0               2020-02-20
   numero_de_cuenta nombre_del_cliente  saldo_actual fecha_ultima_transaccion
1           1653390  Jose  Fausto Jose       8511203               2021-11-23
   numero_de_cuenta            nombre_del_cliente  saldo_actual  \
2           1019154  Elena Amparo Peregrino Elena      13634469

  fecha_ultima_transaccion
2               2018-11-07
   numero_de_cuenta         nombre_del_cliente  saldo_actual  \
3           2074929  Maria Amparo Aragon Maria       7766805

  fecha_ultima_transaccion
3               2021-05-28
   numero_de_cuenta           nombre_del_cliente  saldo_actual  \
4           8166429  Guefry Leider Mendez Guefry       4320366

  fecha_ultima_transaccion
4               2022-06-06
   numero_de_cuenta         nombre_del_cliente  saldo_actual  \
5           2289391  Ximena Lucia Tobar Ximena       8992645

  fecha_ultima_transaccion
5               2020-08-05
   numero_de_cuenta                nombre_del_cliente  saldo_actual  \
6           6476437  Guillermo Aleja Torres Guillermo       6161744

  fecha_ultima_transaccion
6               2021-12-15
   numero_de_cuenta nombre_del_cliente  saldo_actual fecha_ultima_transaccion
7           8027670   Nora  Lopez Nora      12779366               2022-01-26
   numero_de_cuenta       nombre_del_cliente  saldo_actual  \
8           9851895  Juan Carlos Garcia Juan       5915306

  fecha_ultima_transaccion
8               2020-01-05
   numero_de_cuenta nombre_del_cliente  saldo_actual fecha_ultima_transaccion
9           2470200     Noe  Lopez Noe       8880765               2020-09-27
    numero_de_cuenta            nombre_del_cliente  saldo_actual  \
10           6202816  Diego Alonso Fernandez Diego      14118168

   fecha_ultima_transaccion
10               2021-08-23
    numero_de_cuenta               nombre_del_cliente  saldo_actual  \
11           7841638  Carlos Alberto Velasquez Carlos      15786011

   fecha_ultima_transaccion
11               2021-11-22
    numero_de_cuenta          nombre_del_cliente  saldo_actual  \
12           8932762  Luis Evelio Jaramillo Luis      11629663

   fecha_ultima_transaccion
12               2019-07-18
    numero_de_cuenta            nombre_del_cliente  saldo_actual  \
13           2414811  Maria Cecilia Vejarano Maria      10562301

   fecha_ultima_transaccion
13               2021-10-19
    numero_de_cuenta        nombre_del_cliente  saldo_actual  \
14           2470301  Luis Gerardo Ortega Luis       4726771

   fecha_ultima_transaccion
14               2018-08-09
    numero_de_cuenta    nombre_del_cliente  saldo_actual  \
15           7599324  Mary Luz Camayo Mary       4205406

   fecha_ultima_transaccion
15               2018-08-26
    numero_de_cuenta         nombre_del_cliente  saldo_actual  \
16           1129365  Luis Alfonso Cabrera Luis      11065911

   fecha_ultima_transaccion
16               2021-03-15
    numero_de_cuenta             nombre_del_cliente  saldo_actual  \
17           6928746  Carlos Alberto Hidalgo Carlos      10913722

   fecha_ultima_transaccion
17               2022-03-14
    numero_de_cuenta nombre_del_cliente  saldo_actual fecha_ultima_transaccion
18           4118786  Luz  Valencia Luz       3155799               2021-04-07
    numero_de_cuenta       nombre_del_cliente  saldo_actual  \
19           6026790  Gerardo Mesias  Gerardo        896976

   fecha_ultima_transaccion
19               2018-05-12
    numero_de_cuenta            nombre_del_cliente  saldo_actual  \
20           3261434  Esperanza  Reinoso Esperanza      19167558

   fecha_ultima_transaccion
20               2018-08-19
    numero_de_cuenta           nombre_del_cliente  saldo_actual  \
21           4238429  Camilo Ernesto Sossa Camilo       2771437

   fecha_ultima_transaccion
21               2020-04-27
    numero_de_cuenta        nombre_del_cliente  saldo_actual  \
22           7582593  Irma Piedad Gaviria Irma      11192624

   fecha_ultima_transaccion
22               2019-05-23
    numero_de_cuenta       nombre_del_cliente  saldo_actual  \
23           7563757  Milton  Quintana Milton        651338

   fecha_ultima_transaccion
23               2020-04-10
    numero_de_cuenta      nombre_del_cliente  saldo_actual  \
24           1533245  Carlos Alberto  Carlos      13463519

   fecha_ultima_transaccion
24               2018-11-10
    numero_de_cuenta       nombre_del_cliente  saldo_actual  \
25           4791529  Lucia Ines Molina Lucia      19792135

   fecha_ultima_transaccion
25               2018-12-06
    numero_de_cuenta          nombre_del_cliente  saldo_actual  \
26           7642175  Victor Andres Arcos Victor      16176367

   fecha_ultima_transaccion
26               2019-04-16
    numero_de_cuenta    nombre_del_cliente  saldo_actual  \
27           5214772  Maria  Chilito Maria       7884810

   fecha_ultima_transaccion
27               2018-08-13
    numero_de_cuenta        nombre_del_cliente  saldo_actual  \
28           4542647  Yolanda  Legarda Yolanda       8211003

   fecha_ultima_transaccion
28               2018-03-04
    numero_de_cuenta    nombre_del_cliente  saldo_actual  \
29           2097062  Pedro  Escobar Pedro       1449185

   fecha_ultima_transaccion
29               2018-11-29
    numero_de_cuenta     nombre_del_cliente  saldo_actual  \
30           6944715  Hugo Leon Lozano Hugo       4471383

   fecha_ultima_transaccion
30               2018-08-06
    numero_de_cuenta              nombre_del_cliente  saldo_actual  \
31           1528843  Martha Eugenia Sandoval Martha       3429395

   fecha_ultima_transaccion
31               2019-03-25
    numero_de_cuenta      nombre_del_cliente  saldo_actual  \
32           4728887  Luz Angelica Saray Luz      14163012

   fecha_ultima_transaccion
32               2020-10-19
    numero_de_cuenta   nombre_del_cliente  saldo_actual  \
33           9105518  Magnolia   Magnolia       3580042

   fecha_ultima_transaccion
33               2019-03-08
    numero_de_cuenta        nombre_del_cliente  saldo_actual  \
34           4113149  Jose Orlando Florez Jose      14773565

   fecha_ultima_transaccion
34               2021-07-10
    numero_de_cuenta          nombre_del_cliente  saldo_actual  \
35           8487436  Elizabet  Perafan Elizabet      15385868

   fecha_ultima_transaccion
35               2019-02-24
    numero_de_cuenta            nombre_del_cliente  saldo_actual  \
36           4294829  Antonio Jose Salazar Antonio      17006557

   fecha_ultima_transaccion
36               2020-02-26
    numero_de_cuenta nombre_del_cliente  saldo_actual fecha_ultima_transaccion
37           4411008  Horacio   Horacio      18708290               2018-06-18
    numero_de_cuenta           nombre_del_cliente  saldo_actual  \
38           2382809  Maria Pilar Fernandez Maria      14837892

   fecha_ultima_transaccion
38               2021-12-15
    numero_de_cuenta            nombre_del_cliente  saldo_actual  \
39           6033572  Edgar Oswaldo Mosquera Edgar      19355067

   fecha_ultima_transaccion
39               2021-01-28
    numero_de_cuenta         nombre_del_cliente  saldo_actual  \
40           9101598  Fabio Aldemar Munoz Fabio       9412129

   fecha_ultima_transaccion
40               2019-06-09
    numero_de_cuenta       nombre_del_cliente  saldo_actual  \
41           7380315  Maria Yensi Perez Maria      11645928

   fecha_ultima_transaccion
41               2021-07-25
    numero_de_cuenta                 nombre_del_cliente  saldo_actual  \
42           7744026  Fernando Enrique Salazar Fernando      11357284

   fecha_ultima_transaccion
42               2021-03-07
    numero_de_cuenta     nombre_del_cliente  saldo_actual  \
43           6899507  Silvio  Cuervo Silvio      15814244

   fecha_ultima_transaccion
43               2018-07-19
    numero_de_cuenta           nombre_del_cliente  saldo_actual  \
44           6455279  Gloria Ines Gonzalez Gloria      14354371

   fecha_ultima_transaccion
44               2021-09-12
    numero_de_cuenta   nombre_del_cliente  saldo_actual  \
45           6952856  Carlos Hugo  Carlos       1249247

   fecha_ultima_transaccion
45               2018-04-03